.playlist_title, .track_title {
    text-align: center;
}

th {
    background-color: #8045bb;
    color: white;
}

button {
    background-color: white;
    border-color: transparent;
    height: 75px;
    width: 100%;
    text-align: left;
}

button:hover {
    background-color: lightgray;
}