tr {
    width: 50%;
}

td {
    font-size: 20px;
}

td:hover {
    background-color: #8356b1;
    color: white;
}

/* button {
    background-color: white;
    border-bottom: black;
    height: 50px;
    width: 100%;
    text-align: left;
}

button:hover {
    background-color: #8356b1;
} */